
<section class="vcontact-form">
  <div class="vcontact-form__container vcontainer">
    <div class="vcontact-form__row vrow">
      <div class="vcontact-form__column vcontact-form__column_text vcol-12 vcol-sm-6">
        <div class="vcontact-form__content">
          <p class="vcontact-form__content-title">Получите консультацию о проектах сообщества, заполнив форму справа
          </p>
          <div class="vcontact-form__info">
            <div class="vcontact-form__info-item vcontact-form__info-item_phone"><a href="#">+38 (068) 936-55-65</a>
            </div>
            <div class="vcontact-form__info-item vcontact-form__info-item_map">
              <p>Киев, ул. Евгения Коновальца (Щорса), 44а, офис №12</p>
            </div>
          </div>
        </div>
      </div>
      <div class="vcontact-form__column vcontact-form__column_phone vcol-12 vcol-sm-6">
        <div class="vcontact-form__phone"><img class="vcontact-form__phone-img" src="img/iphone.png" alt="" role="presentation"/>
          <div class="vcontact-form__phone-body">
            <form class="vform vform_block">
              <div class="vform__content">
                <div class="vform__row"><input class="vform__control" name="vname" type="text" placeholder="Name"/>
                </div>
                <div class="vform__row"><input class="vform__control" name="vemail" type="email" placeholder="E-mail"/>
                </div>
                <div class="vform__row"><input class="vform__control" name="vphone" type="phone" placeholder="Phone"/>
                </div>
                <div class="vform__row">
                  <button class="vform__submit vbtn vbtn_color-brand-1" type="submit">Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="vsite-footer" id="colophon">
  <div class="vsite-footer__container vcontainer">
    <div class="vsite-footer__row vrow">
      <div class="vsite-footer__column vsite-footer__column_menu vcol-12 vcol-sm-6">
        <ul class="vsite-footer__menu">
          <li><a href="#">Блог</a></li>
          <li><a href="#">Политика конфиденциальности</a></li>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Отказ от ответственности</a></li>
          <li><a href="#">Наши продукты</a></li>
          <li><a href="#">Отзывы</a></li>
        </ul>
        <div class="vsite-footer__detail">
          <div class="vsite-footer__detail-row vrow">
            <div class="vcol-12 vcol-md-6">
              <p>Cryptonet 2018</p><a href="#">+38 (068) 936-55-65</a>
            </div>
            <div class="vcol-12 vcol-md-6">
              <p>Киев, ул. Евгения Коновальца (Щорса), 44а, офис №12</p>
            </div>
          </div>
        </div>
        <div class="vsite-footer__logo"><img src="img/logo.png"/>
        </div>
      </div>
      <div class="vsite-footer__column vsite-footer__column_info vcol-12 vcol-sm-6">
        <div class="vsite-footer__info">
          <p class="vsite-footer__info-title">Следите за нами, чтобы получать последние новости из криптовселенной
          </p>
          <div class="vsite-footer__info-body">
            <div class="vtabs">
              <ul class="vtabs__list">
                <li class="vtabs__list-item vactive"><a class="vtabs__list-item-link" data-action="tab" data-target="#footer-info-tab-1"><i class="vtabs__item-link-icon vfa vfa-facebook"></i></a>
                </li>
                <li class="vtabs__list-item"><a class="vtabs__list-item-link" data-action="tab" data-target="#footer-info-tab-2"><i class="vtabs__item-link-icon vfa vfa-vk"></i></a>
                </li>
                <li class="vtabs__list-item"><a class="vtabs__list-item-link" data-action="tab" data-target="#footer-info-tab-3"><i class="vtabs__item-link-icon vfa vfa-youtube"></i></a>
                </li>
                <li class="vtabs__list-item"><a class="vtabs__list-item-link" data-action="tab" data-target="#footer-info-tab-4"><i class="vtabs__item-link-icon vfa vfa-telegram"></i></a>
                </li>
              </ul>
              <div class="vtabs__content">
                <div class="vtabs__content-inner vactive" id="footer-info-tab-1">
                  <p>1</p>
                </div>
                <div class="vtabs__content-inner" id="footer-info-tab-2">
                  <p>2</p>
                </div>
                <div class="vtabs__content-inner" id="footer-info-tab-3">
                  <p>3</p>
                </div>
                <div class="vtabs__content-inner" id="footer-info-tab-4">
                  <p>4</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>