
<header class="vsite-header vsite-header_wave">
  <div class="vsite-header__container vcontainer">
    <div class="vsite-header__title vtitle-lg">
      <h1>Crypto<span class="font-weight-light">net</span></h1>
    </div>
    <div class="vsite-header__subtitle vtitle-sm">
      <h2>Сообщество профессиональных криптопредпринимателей</h2>
    </div>
    <div class="vtext-left">
      <button class="vbtn vbtn_size-lg vbtn_brand-1" href="#">Записаться на бесплатную консультацию
      </button>
    </div>
  </div>
</header>