include ../bem/index
include ../helpers/config

+b.HEADER.site-header._wave
	+e.container.container
		+e.title.vtitle-lg
			h1
				|Crypto
				span.font-weight-light net
		+e.subtitle.vtitle-sm
			h2 Сообщество профессиональных криптопредпринимателей
		.vtext-left
			+b.BUTTON.btn._size-lg._brand-1(href="#") Записаться на бесплатную консультацию