
<div class="vfixed vfixed_md-top">
  <div class="vtop-info">
    <div class="vtop-info__container vcontainer">
      <div class="vtop-info__row vrow">
        <div class="vtop-info__column vtop-info__column_info vcol-6">
          <div class="vtop-info__translate">
          </div>
          <div class="vtop-info__course"><span class="vtop-info__course-title">Курс Bitcoin: </span><span class="vtop-info__course-number">11782.1</span><span class="vtop-info__course-currency">$ </span><span class="vtop-info__course-data">(30.11.2017, 17:31)</span>
          </div>
        </div>
        <div class="vtop-info__column vtop-info__column_contact vcol-6">
          <ul class="vsocial">
            <li class="vsocial__item"><a class="vsocial__item-link vsocial__item-link_facebook" href="#"><i class="vsocial__item-icon vfa vfa-envelope"></i><span class="vsocial__item-text">info@cryptonet.biz</span></a>
            </li>
            <li class="vsocial__item"><a class="vsocial__item-link vsocial__item-link_facebook" href="#"><i class="vsocial__item-link-icon vfa vfa-facebook"></i></a>
            </li>
            <li class="vsocial__item"><a class="vsocial__item-link vsocial__item-link_vk" href="#"><i class="vsocial__item-link-icon vfa vfa-vk"></i></a>
            </li>
            <li class="vsocial__item"><a class="vsocial__item-link vsocial__item-link_youtube" href="#"><i class="vsocial__item-link-icon vfa vfa-youtube"></i></a>
            </li>
            <li class="vsocial__item"><a class="vsocial__item-link vsocial__item-link_telegram" href="#"><i class="vsocial__item-link-icon vfa vfa-telegram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="vnav vnav_style">
    <div class="vnav__container vcontainer">
      <div class="vnav__row vrow vflex-y-center">
        <div class="vnav__logo vcol-12 vcol-md-4">
          <button class="vhamburger" type="button" id="js-vnav__btn"><span class="vhamburger__lines"><span>Line1</span><span>Line2</span><span>Line3</span></span>
            <!--+e.SPAN.text Menu-->
          </button>
          <div class="vnav__logo-content"><img class="vnav__logo-content-img" src="img/logo.png" alt="" role="presentation"/>
          </div>
        </div>
        <nav class="vnav__menu vcol-12 vcol-md-8" id="navigation">
          <div class="vnav__menu-inner">
            <ul>
              <li class="menu-item"><a href="index.html">Link_1</a>
              </li>
              <li class="menu-item"><a href="index2.html">Link 2</a>
              </li>
              <li class="menu-item"><a href="index3.html">Link 3</a>
              </li>
            </ul>
          </div>
          <div class="vnav__menu-inner">
            <ul>
              <li class="menu-item"><a class="vbtn vbtn_brand-1 vbtn_navigation" href="#">Бесплатная консультация</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>