@include b('site-header'){
	position: relative;
	z-index: z-index('default');
	background-color: #101622;
	padding-top: 45px;
	padding-bottom: 45px;
	color: #fff;
	overflow: hidden;
	
	@include mod('wave'){
		padding-top: 75px;
		padding-bottom: 75px;
		&:after{
			@include pseudo();
			left: 0;
			bottom: 0;
			width: 100%;
			height: 50px;
			@include bg('../img/line.png');
			@include resp-min(sm){
				height: 100px;
			}
		}
		&:before{
			@include pseudo();
			right: 0;
			bottom: -75px;
			@include size(350px, 240px);
			@include bg('../img/header-bg-part-small.png');
			@include resp-min(sm){
				bottom: -100px;
				@include size(550px,400px);
				@include bg('../img/header-bg-part-large.png');
			}
			@include resp-min(md){
				@include size(876px,606px);
			}
		}
		@include resp-min(md){
			padding-top: 170px;
			padding-bottom: 150px;
		}
	}
	@include e('title'){
		margin-bottom: 30px;
		@include resp-min(xs){
			margin-bottom: 45px;
		}
		@include resp-min(md){
			margin-bottom: 75px;
		}
	}
	@include e('subtitle'){
		margin-bottom: 45px;
		font-weight: 300;
		*:not(span){
			font-weight: 300;
		}
	}
	
}