@include b('form'){
	$self: &;
	width: 100%;
	&__row{
		#{$self}_block &{
			@include rowOffset();
		}
	}
	@include resp-max(sm){
		&__row{
			#{$self}_line &{
				@include rowOffset();
			}
		}
	}
	@include resp-min(sm){
		&__content{
			#{$self}_line &{
				display: flex;
				justify-content: center;
				@include xOffset('margin', - getComp(gutter));
			}
		}
		&__row{
			#{$self}_line &{
				flex: 1;
				@include xOffset('padding', getComp(gutter));
			}
		}
		#{$self}_line &{
			&__submit{
				height: 100%;
				width: 100%;
			}
		}
	}
	@if( $themeFormDesign == 'new' ){
		&__control{
			@include input-default();
			border: none;
		}
		&__line{
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 0;
			background-color: $color-brand-1;
			@include transition();
		}
		input:focus + &__line{
			width: 100%;
		}
		&__row_line{
			&:before{
				@include pseudo();
				left: 0;
				bottom: 0;
				height: 1px;
				width: 100%;
				background-color: $color-brand-1;
			}
		}
	}@else{
		&__control{
			@include input-default();
			border: 1px solid #ddd;
			&:focus{
				border-color: $color-brand-1;
				@include placeholder{
					color: transparent;
				}
			}
		}
	} 

}
[type="submit"]{
	cursor: pointer;
}