
$themeFormDesign: 'new';

@mixin input-default(){
	display: block;
	padding: 20px 15px;
	width: 100%;
	max-width: 100%;
	color: #000;
	text-align: center;
	font-size: 15px;
	-webkit-appearance: none;
	outline: none;
	@include transition();
	@include placeholder{
		@include transition();
	}
}
@mixin rowOffset(){
	margin-bottom: 15px;
	&:last-child{
		margin-bottom: 0;
	}
}