// Clearfix.
$themeRow: 'row';
@mixin cf(){
	&:after, &:before{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}
}


@include b($themeRow){
	@include xOffset('margin', - getComp(gutter));
}
.vclearfix{
	position: relative;
	@include cf();
}
@if getComp(flex) == true{
	.#{$themePrefix}flex{
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;
		&-y-center{
			align-items: center;
		}
	}
	@include b($themeRow){
		@extend .#{$themePrefix}flex;
	}
}