-
	var navigation = [
		{
			name: 'Link_1',
			link: 'index.html'
		},
		{
			name: 'Link 2',
			link: 'index2.html'
		},
		{
			name: 'Link 3',
			link: 'index3.html'
		}
	];

	var wordpress = true;

	var themePrefix = '';
	var themeNav = 'vnav';