/// Sizes for elements.
$sizes: (
	'vtitle-xs': (
		xs:   18px
	),
	'vtitle-sm': (
		sm:   18px,
		md:   21px
	),
	'vtitle-md': (
		sm:   30px,
		md:   40px,
		lg:   50px
	),
	'vtitle-lg': (
		sm:   40px,
		md:   50px,
		lg:   75px
	)
);


%vtitle-default{
	margin-top: 5px;
	margin-bottom: 15px;
	line-height: 1.1;
	font-weight: normal;
}
.vtitle{
	&-xs{
		font-size: 18px;
		@include fs('vtitle-xs');
		@extend %vtitle-default;
	}
	&-sm{
		font-size: 14px;
		@include fs('vtitle-sm');
		@extend %vtitle-default;
	}
	&-md{
		font-size: 22px;
		@include fs('vtitle-md');
		@extend %vtitle-default;
	}
	&-lg{
		font-size: 25px;
		@include fs('vtitle-lg');
		@extend %vtitle-default;
	}
}